* {
  margin: 0;
  padding: none;
  background-color: #121212;
}
button {
  color: white;
  width: 100px;
  height: 100px;
}

#grid {
  width: 900px;
  height: 900px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  border: 1px solid gray;
  border-color: #fff;
  width: 20px;
  height: 20px;
}

.land {
  background-color: #fff;
}
.pending {
  background-color: #fff;
}

.bullet {
  background-color: red;
}
.bulletpending {
  background-color: red;
}
