* {
  margin: 0;
  padding: none;
  background-color: #121212;
}
button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.selectedButton {
  background-color: #04aa6d;
}

#grid {
  width: 900px;
  height: 900px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  border: 1px solid gray;
  border-color: #fff;
  width: 20px;
  height: 20px;
}

.land {
  background-color: #fff;
}
.pending {
  background-color: #fff;
}

.bullet {
  background-color: red;
}
.bulletpending {
  background-color: red;
}
